numpy >= 1.9.1
scipy >= 0.14.0
pylru >= 1.0.6
python-igraph >= 0.7
https://github.com/FutureLinkCorporation/fann2/zipball/master
https://github.com/sawcordwell/pymdptoolbox/zipball/master
https://github.com/pybrain/pybrain/zipball/master
http://www.borgelt.net/src/pyfim.tar.gz
